{% extends 'base.html' %}
{% load static %}
{% block title %} Explores {% endblock %}
{% block content %}
    <!-- --------------------------sidebar--------------------- -->
    <!-- --------------------main---------------- -->

    <div class="content">
        <!-- <div class="banner">
            <img src="images/banner2.jpg" alt="">
        </div> -->
<!-- ------------------------ video------------------------ -->
<div id="result">
    
</div>
        <div class="list_content">
            <div class="vid_list">
                <a href="play-video.html"><img src="images/thumbnail1.png" alt="" class="thumbnail"></a>
                <div class="flex-div">
                    <img src="images/Jack.png" alt="">
                    <div class="vid-info">
                        <a href="">I'm Chandan Mourya Currently working as freelancing.</a>
                        <p>Chandan Mourya</p>
                        <p>15k Views &bull; 2 days</p>
                    </div>
                </div>
            </div>

            <div class="vid_list">
                <a href="play-video.html"><img src="images/thumbnail2.png" alt="" class="thumbnail"></a>
                <div class="flex-div">
                    <img src="images/Jack.png" alt="">
                    <div class="vid-info">
                        <a href="">I'm Chandan Mourya Currently working as freelancing.</a>
                        <p>Chandan Mourya</p>
                        <p>15k Views &bull; 2 days</p>
                    </div>
                </div>
            </div>

            <div class="vid_list">
                <a href=""><img src="images/thumbnail3.png" alt="" class="thumbnail"></a>                             
                <div class="flex-div">
                    <img src="images/Jack.png" alt="">
                    <div class="vid-info">
                        <a href="">I'm Chandan Mourya Currently working as freelancing.</a>
                        <p>Chandan Mourya</p>
                        <p>15k Views &bull; 2 days</p>
                    </div>
                </div>
            </div>

            <div class="vid_list">
                <a href=""><img src="images/thumbnail4.png" alt="" class="thumbnail"></a>                             
                <div class="flex-div">
                    <img src="images/Jack.png" alt="">
                    <div class="vid-info">
                        <a href="">I'm Chandan Mourya Currently working as freelancing.</a>
                        <p>Chandan Mourya</p>
                        <p>15k Views &bull; 2 days</p>
                    </div>
                </div>
            </div>

            <div class="vid_list">
                <a href=""><img src="images/thumbnail5.png" alt="" class="thumbnail"></a>                             
                <div class="flex-div">
                    <img src="images/Jack.png" alt="">
                    <div class="vid-info">
                        <a href="">I'm Chandan Mourya Currently working as freelancing.</a>
                        <p>Chandan Mourya</p>
                        <p>15k Views &bull; 2 days</p>
                    </div>
                </div>
            </div>

            <div class="vid_list">
                <a href=""><img src="images/thumbnail6.png" alt="" class="thumbnail"></a>                             
                <div class="flex-div">
                    <img src="images/Jack.png" alt="">
                    <div class="vid-info">
                        <a href="">I'm Chandan Mourya Currently working as freelancing.</a>
                        <p>Chandan Mourya</p>
                        <p>15k Views &bull; 2 days</p>
                    </div>
                </div>
            </div>

            <div class="vid_list">
                <a href=""><img src="images/thumbnail7.png" alt="" class="thumbnail"></a>                             
                <div class="flex-div">
                    <img src="images/Jack.png" alt="">
                    <div class="vid-info">
                        <a href="">I'm Chandan Mourya Currently working as freelancing.</a>
                        <p>Chandan Mourya</p>
                        <p>15k Views &bull; 2 days</p>
                    </div>
                </div>
            </div>

            <div class="vid_list">
                <a href=""><img src="images/thumbnail7.png" alt="" class="thumbnail"></a>                             
                <div class="flex-div">
                    <img src="images/Jack.png" alt="">
                    <div class="vid-info">
                        <a href="">I'm Chandan Mourya Currently working as freelancing.</a>
                        <p>Chandan Mourya</p>
                        <p>15k Views &bull; 2 days</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}